.movie-nav{
    /* background: rgb(41, 247, 0); */
    border-bottom: 2px solid rgb(41, 247, 0);
}
.nav-heading{
    /* background: linear-gradient(to left,rgb(0, 255, 4),#9878,#ff0000); */
    font-weight: 900;
    /* background-clip: text; */
    /* color:transparent; */
    color:chartreuse;
    cursor: pointer;
}
